.our {
  background: rgba(16, 144, 203, 0.1);
  height: 738px;

  border-top: 0.7px solid #c4c4c4;

  position: relative;

  margin-bottom: 360px;

  display: flex;
  justify-content: center;
}

.our-con {
  margin: 0 122px;
}

.our-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  max-width: 440px;

  margin-top: 78px;
  margin-bottom: 72px;
}

.our-img {
  width: 136px;
  height: 136px;

  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.our-title {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.our-title span {
  color: #1090cb;
}

.our-text {
  color: #696969;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  /* 31.5px */

  width: 440px;
}

.subour {
  display: flex;
  justify-content: flex-start;
  /* gap: 20px; */
  max-width: 1202px;
  /* max-width: 1000px; */
  /* width: 80%; */
  height: 440px;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.09);

  position: absolute;
  /* position: relative; */

  top: 480px;
  flex-wrap: wrap;

}

.subour-icon {
  position: absolute;
  top: -68px;
  left: 85%;
  z-index: 9999;
}

.subour-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  width: 540px;
}

.subour-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subour-card-title {
  color: #000;
  /* text-align: center; */
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  /* 44.475px */
  letter-spacing: 0.25px;
}

.subour-card-text {
  color: #797979;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%;
  /* 28.464px */
  letter-spacing: 0.16px;
}

.subour-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  height: 90px;
  margin-left: 62px;
  border-radius: 20px;
}

.subour-img-1 {
  background-color: #F1E8FF;
}

.subour-img-2 {
  background-color: #FFF2F2;
}

.subour-img-3 {
  background-color: #E2F3FF;
}

.subour-img-4 {
  background-color: #FFE7FB;
}

/* ----------------------------Section-Illus---------------------------- */

.illus-con {
  display: flex;
  justify-content: center;
}

.illus {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-bottom: 158px;
}

.illus-left {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 476px;

  width: 100%;
}

.illus-left-title {
  color: #252525;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
}

.illus-left-title-span {
  color: #1090cb;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  /* 51px */
}

.illus-left-text {
  display: flex;
  flex-direction: column;
  gap: 40px;

  color: #545454;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 28.8px */
}

.illus-left-contactus {
  width: 193px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #1090cb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.illus-left-contactus a {
  color: #1090cb;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.illus-right {
  max-width: 752px;
  min-width: 352px;
}

.illus-right,
.illus-left {
  width: 100%;
}

/* ----------------------------Section-Panel---------------------------- */

.pan-con {
  background-color: #1090cb;
  position: relative;

  margin-bottom: 140px;
}

.pan-img1 {
  position: absolute;
  top: -100px;
  left: 10%;
}

.pan-img2 {
  position: absolute;
  top: -60px;
  left: 70%;
}

.pan-img3 {
  position: absolute;
  top: -74px;
  left: 78%;
}

.pan-img4 {
  position: absolute;
  top: 250px;
  left: 0;
}

.pan-img5 {
  position: absolute;
  top: 330px;
  left: 22%;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 388px;

  margin: 0 178px;
}

.panel-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
}

.panel-number {
  color: #fff;
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;

  letter-spacing: 0.65px;

  text-align: center;
}

.panel-text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%;
  /* 28.464px */
  letter-spacing: 0.16px;

  text-align: center;
}

/* ----------------------------Section-Projects---------------------------- */

.pro-header {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  /* 64.044px */
  letter-spacing: 0.36px;
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 60px;
  max-width: 1170px;
}

.pro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  gap: 84px;
}

.pro-card {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 334px;
}

.pro-card-title {
  color: #000;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.9%;
  /* 40.917px */
  letter-spacing: 0.23px;
}

.pro-card-text {
  color: #424242;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 210.9%;
  /* 33.744px */
  letter-spacing: 0.16px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ninth-section {
    display: flex;
    padding-top: 9.25rem;
    padding-bottom: 9.25rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e8f4fa;
    max-height: 33.375rem;
    height: 100%;
    margin-top: 5.4375rem;
  }
  #ninth-section .main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    max-width: 90rem;
    width: 100%;
    height: 534px;
  }
  #ninth-section .main-card .star {
    top: -44px;
    left: 167px;
    position: absolute;
  }
  #ninth-section .main-card .spiral {
    top: 94px;
    right: 397px;
    position: absolute;
  } 
  #ninth-section .main-card h2 {
    color: #252525;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.875rem;
    max-width: 32.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 3.1875rem */
  }
  #ninth-section .main-card .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
  }
  #ninth-section .main-card .subscribe button {
    color: #fff4f4;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 1.7rem */
    width: 10.8125rem;
    height: 4.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #000;
  }
  #ninth-section .main-card .subscribe input {
    text-align: start;
    max-width: 33.25rem;
    width: 100%;
    height: 4.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #fff;
    box-shadow: 0rem 0.25rem 5.25rem 0rem rgba(0, 0, 0, 0.07);
    border: none;
    padding-top: 20px;
    padding-left: 36px;
    padding-bottom: 20px;
    color: #787878;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
  }